@page
@model ContosoUniversity.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="container">
<h1 style="margin:50px 0 50px 0">Crear un Estudiante</h1>

<p>
    <a asp-page="Create" >Crear Estudiante Nuevo</a>
</p>
<table class="table table-bordered" style="margin-top: 50px;">
    <thead>
        <tr>
            <th class="table-primary">
                @Html.DisplayNameFor(model => model.Student[0].LastName)
            </th>
            <th class="table-primary">
                @Html.DisplayNameFor(model => model.Student[0].FirstMidName)
            </th>
            <th class="table-primary">
                @Html.DisplayNameFor(model => model.Student[0].EnrollmentDate)
            </th>
            <th class="table-primary"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>